#!/usr/bin/env python
PACKAGE = "ray_ground_filter"
from dynamic_reconfigure.parameter_generator_catkin import *
gen = ParameterGenerator()

gen.add("input_point_topic",str_t, 0, "input_point_topic parameter","/points_raw")
gen.add("base_frame",str_t, 0, "clipping_height parameter","velodyne")
gen.add("clipping_height",double_t, 0, "clipping_height parameter", 2,  0, 5)
gen.add("min_point_distance", double_t, 0, "min_point_distance parameter",1.8, 0,3)
gen.add("radial_divider_angle", double_t, 0, "radial_divider_angle parameter",0.08, 0,3)
gen.add("concentric_divider_distance", double_t, 0, "concentric_divider_distance parameter",0.0, 0,3)
gen.add("local_max_slope", double_t, 0, "local_max_slope parameter",8, 0,90)
gen.add("general_max_slope", double_t, 0, "general_max_slope parameter",8, 0,90)
gen.add("min_height_threshold", double_t, 0, "min_height_threshold parameter",0.05, 0,3)
gen.add("reclass_distance_threshold", double_t, 0, "reclass_distance_threshold parameter",0.02, 0,3)


exit(gen.generate(PACKAGE, "ray_ground_filter", "Ray"))
